# Maven
/target
.mvn
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# Gradle (si usas Gradle en lugar de Maven)
/.gradle
/build
!gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat

# IDEs
*.iml
.idea/
.vscode/
*.class

# Logs y datos temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db

